<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender class="org.apache.log4j.ConsoleAppender" name="console">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-17c{2} (%13F:%L) %3x - %m%n" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="file">
		<param name="File" value="lemis.log" />
		<param name="MaxFileSize" value="10240KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="=%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n" />
		</layout>
	</appender>

	<appender name="JDBCAppender" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="URL" value="jdbc:mysql://42.121.55.146/esbrother" />
		<param name="user" value="root" />
		<param name="password" value="" />
		<param name="driver" value="com.mysql.jdbc.Driver" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="insert into log4j(log_date, location, message, user_name) values(\'%d\',\'%-5p\',\'%m\',\'%X{userName}\')" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="warn" />
			<param name="levelMax" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="JDBCAppender" />
	</root>
</log4j:configuration>
